<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="panel_pliki/index.css" />
	<link rel="stylesheet" type="text/css" href="panel_pliki/tgc.css" />
	<link rel="stylesheet" type="text/css" href="panel_pliki/ax.css" />
	<link rel="stylesheet" type="text/css" href="panel_pliki/cale. css" />
	<link rel="stylesheet" type="text/css" href="panel_pliki/AlarClass.css" />
	<script src="panel_pliki/prototype.js" language="JavaScript" type="text/javascript"></script>
	<script src="panel_pliki/MyAjax_v0.js" language="JavaScript" type="text/javascript"></script>
	<script src="panel_pliki/advajax.js" language="JavaScript" type="text/javascript"></script>
	<script src="panel_pliki/DOM.js" language="JavaScript" type="text/javascript"></script>
	<script src="panel_pliki/index.js" language="JavaScript" type="text/javascript"></script>
	<script src="panel_pliki/upload.js" language="JavaScript" type="text/javascript"></script>
	<script src="panel_pliki/cale.js" language="JavaScript" type="text/javascript"></script>
	<script src="panel_pliki/chkDate.js" language="JavaScript" type="text/javascript"></script>
	<script type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="customization-1.0.css" />
	<title>Panel Klienta Biura Rachunkowego Natalia Gorczyca</title>
</head>
<body style="cursor: default;">
	<div
		style="visibility: hidden; position: absolute; overflow: hidden; padding: 0px; width: 1679px; left: -1680px; top: 0px;"
		id="WzTtDiV"></div>
	<div id="caleDiv"></div>
	<script type="text/javascript" src="panel_pliki/wz_tooltip.js"></script>
	<div id="main_div">
		<div id="head">
			<div style="float: left;">
				<img src="panel_pliki/logo_brng.png" /><br />&nbsp;
			</div>
			<div id="head_right" style="float: right; display: block;">
				<div style="float: right;">
					Użytkownik:&nbsp;demo&nbsp;&nbsp;Klient: DEMO DEMO
					<button type="button"
						class="logout_button">WYLOGUJ / LOGOUT</button>
					<div style="clear: both;"></div>
					<p style="color:red; font-size:14px; text-shadow: 0 0 2px">TO NIE JEST PRAWDZIWY PANEL. TO SKOPIOWANY STATYCZNY JEDEN EKRAN</p>
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div style="display: block;" id="col1">
			<div class="menuMain">
				<div class="menuIdle">
					Informacje<br>Information 
				</div>
				<div class="menuOut">Start</div>
				<div class="menuIdle">
					Faktury<br>Invoices 
				</div>
				<div class="menuOut">
					Lista faktur<br>Invoices list 
				</div>
				<div class="menuIdle">
					Księgi<br>Books 
				</div>
				<div class="menuOut">
					KPiR<br>Account book (earnings and outgoings) 
				</div>
				<div class="menuOut">
					Ryczałt<br>Lump-sum tax 
				</div>
				<div class="menuIdle">
					Wyniki<br>Results 
				</div>
				<div class="menuSele">
					Rozl. właścicela<br>Owner settlement 
				</div>
				<div class="menuOut">
					Najnowsze wyniki<br>The newest results 
				</div>
				<div class="menuOut">
					Historia wyników<br>History of results 
				</div>
				<div class="menuIdle">
					Dane klienta<br>Data of the customer 
				</div>
				<div class="menuOut">
					Dane aktualne<br>Current data 
				</div>
				<div class="menuOut">
					Zgłoszenie zmian<br>Reporting changes 
				</div>
				<div class="menuIdle">
					Pliki klienta<br>Files of the customer 
				</div>
				<div class="menuOut">
					Dok. założycielskie<br>Founding documents 
				</div>
				<div class="menuOut">
					Zeznania roczne<br>Annual tax return 
				</div>
				<div class="menuIdle">
					Druki i formularze<br>Forms 
				</div>
				<div class="menuOut">
					Formularze<br>Forms 
				</div>
				<div class="menuOut">
					Listy obecności<br>Attendance list 
				</div>
				<div class="menuOut">
					Ankiety do zeznań<br>Ques. forms to tax return 
				</div>
			</div>
			<br><div style="width: 116px; display: block;" id="klieKwad">
					<div class="tabGreA">ZUS</div>
					<div class="tabGreB">
						<table>
							<tbody>
								<tr>
									<td class="sL">Za okres:</td>
									<td class="sR" width="64">8/2014</td>
								</tr>
								<tr>
									<td class="sL">51:</td>
									<td class="sR">0.00</td>
								</tr>
								<tr>
									<td class="sL">52:</td>
									<td class="sR">0.00</td>
								</tr>
								<tr>
									<td class="sL">53:</td>
									<td class="sR">0.00</td>
								</tr>
							</tbody>
						</table>
					</div>
					<br><div class="tabGreA">US</div>
						<div class="tabGreB">
							<table>
								<tbody>
									<tr>
										<td class="sL">Za okres:</td>
										<td class="sR" width="64">8/2014</td>
									</tr>
									<tr>
										<td class="sL">PIT 4:</td>
										<td class="sR">0.00</td>
									</tr>
									<tr>
										<td class="sL">PIT 5:</td>
										<td class="sR">0.00</td>
									</tr>
									<tr>
										<td class="sL">VAT:</td>
										<td class="sR">0.00</td>
									</tr>
									<tr>
										<td class="sL">CIT:</td>
										<td class="sR">0.00</td>
									</tr>
									<tr>
										<td class="sL">Ryczałt:</td>
										<td class="sR">0.00</td>
									</tr>
								</tbody>
							</table>
						</div>
						<br>
				</div>
		</div>
		<div id="col2">
			<div id="head1"></div>
			<div id="navi"></div>
			<div style="display: block;" id="cont">
				<div class="tab2">
					<span
						class="butGif"><img src="panel_pliki/pdf.png"></span>
					Rozliczenie właściciela - 2010
				</div>
				<div class="tab21">
					<table>
						<tbody>
							<tr>
								<td width="30" class="rokWybr">2010</td>
								<td width="20" class="miesAkty"
									onclick="axGet(&quot;clas/KsieClass.php?a=ksiePoka&amp;rok=2010&amp;mies=1&quot;,&quot;cont&quot;);">1</td>
								<td width="20" class="miesWybr">2</td>
							</tr>
						</tbody>
					</table>
					<div class="ALC_1">Brak danych dla okresu 2/2010</div>
				</div>
				<div class="tab21">
					<div class="sL">
						Rok: <select name="rok" size=""
							class="sL"><option selected="selected" value="2010">2010</option></select>
					</div>
					<div style="">
						<div>
							<div class="TGC_tabela">
								<table>
									<tbody>
										<tr>
											<td class="TGC_thL" width="30"><div>Rok</div></td>
											<td class="TGC_thL" width="30"><div>Mies.</div></td>
											<td class="TGC_thL" width="70"><div>Przychód</div></td>
											<td class="TGC_thL" width="70"><div>Koszty</div></td>
											<td class="TGC_thL" width="70"><div>Dochód</div></td>
											<td class="TGC_thL" width="70"><div>Podatek</div></td>
											<td class="TGC_thL" width="70"><div>
													Dochód<br>netto
												</div></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div style="overflow: auto; height: 500px;">
							<div class="TGC_tabela">
								<table>
									<tbody>
										<tr class="TGC_bout" >
											<td class="TGC_sC" width="30">2010</td>
											<td class="TGC_sC" width="30">1</td>
											<td class="TGC_sR" width="70">100 000.00</td>
											<td class="TGC_sR" width="70">50 000.00</td>
											<td class="TGC_sR" width="70">50 000.00</td>
											<td class="TGC_sR" width="70">8 444.00</td>
											<td class="TGC_sR" width="70">41 556.00</td>
										</tr>
										<tr class="TGC_bout">
											<td class="TGC_sC" width="30">2010</td>
											<td class="TGC_sC" width="30">2</td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
										</tr>
										<tr class="TGC_bout">
											<td class="TGC_sC" width="30">2010</td>
											<td class="TGC_sC" width="30">3</td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
										</tr>
										<tr class="TGC_bout" >
											<td class="TGC_sC" width="30">2010</td>
											<td class="TGC_sC" width="30">4</td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
										</tr>
										<tr class="TGC_bout" >
											<td class="TGC_sC" width="30">2010</td>
											<td class="TGC_sC" width="30">5</td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
										</tr>
										<tr class="TGC_bout" >
											<td class="TGC_sC" width="30">2010</td>
											<td class="TGC_sC" width="30">6</td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
										</tr>
										<tr class="TGC_bout" >
											<td class="TGC_sC" width="30">2010</td>
											<td class="TGC_sC" width="30">7</td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
										</tr>
										<tr class="TGC_bout" >
											<td class="TGC_sC" width="30">2010</td>
											<td class="TGC_sC" width="30">8</td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
										</tr>
										<tr class="TGC_bout" >
											<td class="TGC_sC" width="30">2010</td>
											<td class="TGC_sC" width="30">9</td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
										</tr>
										<tr class="TGC_bout" >
											<td class="TGC_sC" width="30">2010</td>
											<td class="TGC_sC" width="30">10</td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
										</tr>
										<tr class="TGC_bove" >
											<td class="TGC_sC" width="30">2010</td>
											<td class="TGC_sC" width="30">11</td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
										</tr>
										<tr class="TGC_bout" >
											<td class="TGC_sC" width="30">2010</td>
											<td class="TGC_sC" width="30">12</td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
											<td width="70"></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div>
								<div class="TGC_tabela">
									<table>
										<tbody>
											<tr>
												<td class="TGC_thR" width="30"></td>
												<td class="TGC_thR" width="30"></td>
												<td class="TGC_thR" width="70">100 000.00</td>
												<td class="TGC_thR" width="70">50 000.00</td>
												<td class="TGC_thR" width="70">50 000.00</td>
												<td class="TGC_thR" width="70">8 444.00</td>
												<td class="TGC_thR" width="70">41 556.00</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

					<br /><br />
					<div style="">
						<div>
							<div class="TGC_tabela">
								<table>
									<tbody>
										<tr>
											<td colspan="3" class="TGC_thC"></td>
											<td colspan="2" class="TGC_thC">Kontrahent</td>
											<td colspan="1" class="TGC_thC"></td>
											<td colspan="3" class="TGC_thC">Przychód</td>
											<td colspan="2" class="TGC_thC"></td>
											<td colspan="3" class="TGC_thC">Wydatki (koszty)</td>
											<td colspan="1" class="TGC_thC"></td>
										</tr>
										<tr>
											<td width="26" class="TGC_thL"><div>
													Lp<br>[1]
												</div></td>
											<td width="12" class="TGC_thL"><div>
													Dz<br>M<br>[2]
												</div></td>
											<td width="121" class="TGC_thL"><div>
													Nr dow.<br>księ. [3]
												</div></td>
											<td width="121" class="TGC_thL"><div>
													Imię i nazwisko<br>(firma) [4]
												</div></td>
											<td width="121" class="TGC_thL"><div>Adres [5]</div></td>
											<td width="121" class="TGC_thL"><div>
													Opis zdarze.<br>gospo. [6]
												</div></td>
											<td width="57" class="TGC_thL"><div>
													wart.<br>sprzed.<br>towa.<br>i usł. [7]
												</div></td>
											<td width="57" class="TGC_thL"><div>
													pozo.<br>przych. [8]
												</div></td>
											<td width="57" class="TGC_thL"><div>
													razem<br>przych.<br>(7+8) [9]
												</div></td>
											<td width="57" class="TGC_thL"><div>
													Zakup<br>towar.<br>handlo.<br>[10]
												</div></td>
											<td width="57" class="TGC_thL"><div>
													Kosz.<br>ubocz.<br>zakupu<br>[11]
												</div></td>
											<td width="57" class="TGC_thL"><div>
													wynagro.<br>w gotów.<br>i natu. [12]
												</div></td>
											<td width="57" class="TGC_thL"><div>
													pozostałe<br>[13]
												</div></td>
											<td width="57" class="TGC_thL"><div>
													razem<br>wydatki<br>(12 + 13) [14]
												</div></td>
											<td width="50" class="TGC_thL"><div>uwagi [16]</div></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div style="overflow: auto; height: 500px;">
							<div class="TGC_tabela">
								<table>
									<tbody>
										<tr onmouseout="this.className='TGC_bout'"
											onmouseover="this.className='TGC_bove'" class="TGC_bout">
											<td width="26" class="TGC_sC">1</td>
											<td width="12" class="TGC_sC">1</td>
											<td width="121" class="TGC_sL">12345</td>
											<td width="121" class="TGC_sL">DEMO1</td>
											<td width="121" class="TGC_sL">STARA 100/100, 70-700
												SZCZECIN</td>
											<td width="121" class="TGC_sL">SPRZEDAŻ</td>
											<td width="57" class="TGC_sR">100 000.00</td>
											<td width="57"></td>
											<td width="57" class="TGC_sR">100 000.00</td>
											<td width="57"></td>
											<td width="57"></td>
											<td width="57"></td>
											<td width="57"></td>
											<td width="57"></td>
											<td width="50"></td>
										</tr>
										<tr onmouseout="this.className='TGC_bout'"
											onmouseover="this.className='TGC_bove'" class="TGC_bout">
											<td width="26" class="TGC_sC">2</td>
											<td width="12" class="TGC_sC">1</td>
											<td width="121" class="TGC_sL">54321</td>
											<td width="121" class="TGC_sL">DEMO 2</td>
											<td width="121" class="TGC_sL">BRZYDKA 100/100, 70-700
												SZCZECIN</td>
											<td width="121" class="TGC_sL">POZOSTAŁE WYDATKI</td>
											<td width="57"></td>
											<td width="57"></td>
											<td width="57"></td>
											<td width="57"></td>
											<td width="57"></td>
											<td width="57"></td>
											<td width="57" class="TGC_sR">50 000.00</td>
											<td width="57" class="TGC_sR">50 000.00</td>
											<td width="50"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div>
							<div class="TGC_tabela">
								<table>
									<tbody>
										<tr>
											<td width="26" class="TGC_thR"></td>
											<td width="12" class="TGC_thR"></td>
											<td width="121" class="TGC_thR"></td>
											<td width="121" class="TGC_thR"></td>
											<td width="121" class="TGC_thR"></td>
											<td width="121" class="TGC_thR"></td>
											<td width="57" class="TGC_thR">100 000.00</td>
											<td width="57" class="TGC_thR"></td>
											<td width="57" class="TGC_thR">100 000.00</td>
											<td width="57" class="TGC_thR"></td>
											<td width="57" class="TGC_thR"></td>
											<td width="57" class="TGC_thR"></td>
											<td width="57" class="TGC_thR">50 000.00</td>
											<td width="57" class="TGC_thR">50 000.00</td>
											<td width="50" class="TGC_thR"></td>
										</tr>
										<tr>
											<td class="TGC_thR" colspan="6">Poprzedni miesiąc</td>
											<td class="TGC_thR">0.00</td>
											<td class="TGC_thR">0.00</td>
											<td class="TGC_thR">0.00</td>
											<td class="TGC_thR">0.00</td>
											<td class="TGC_thR">0.00</td>
											<td class="TGC_thR">0.00</td>
											<td class="TGC_thR">0.00</td>
											<td class="TGC_thR">0.00</td>
										</tr>
										<tr>
											<td class="TGC_thR" colspan="6">Razem</td>
											<td class="TGC_thR">100 000.00</td>
											<td class="TGC_thR">0.00</td>
											<td class="TGC_thR">100 000.00</td>
											<td class="TGC_thR">0.00</td>
											<td class="TGC_thR">0.00</td>
											<td class="TGC_thR">0.00</td>
											<td class="TGC_thR">50 000.00</td>
											<td class="TGC_thR">50 000.00</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div id="col3">3</div> -->
		<div id="foot">
			<div>
				<br><a target="_blank" href="http://www.comartech.pl/"><img
						src="panel_pliki/logo_comartech_duze_24.png"
						title="Comartech - Aplikacje internetowe, bazy danych"
						alt="Comartech - Aplikacje internetowe, bazy danych"></a><br><a
						target="_blank" class="LOGIN" href="http://www.comartech.pl/">Aplikacje
							internetowe, bazy danych</a>
			</div>
		</div>
	</div>
	<iframe id="down" style="visibility:hidden"></iframe>
	;
	<script type="text/javascript">
		//loadDivs();
	</script>


</body>
</html>