/* FlatMania template customization / Wordpress link stylesheet */

/* Commons */

h2 {
	margin-top: 0;	
}

p:empty {
	display: none;
}
p + p {
	margin-top: 10px;
}

label[for] {
	cursor: pointer;
}

@media (min-width: 1200px) {
  .padd-box > .box {
  	margin: 10px;
  }
}
@media (min-width: 768px) {
  .padd-box-sm > .box {
  	margin: 10px;
  }
}

/* Header */

.header {
	margin-bottom: 30px;
}
.header .logo h1 {
	font-size: 35px;
}
.header .header-navigation .container {
	position: relative;
}
.header .header-navigation {
	padding-top: 20px;
}
.header .navbar-collapse {
  max-height: auto;
  overflow: visible;
}
.header .navbar-default .navbar-nav > li ul.dropdown-sm {
	width: 350px;
}
.header .languages {
	left: 6px;
	position: absolute;
	top: 0;
	z-index: 2;
}
.header .languages ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
.header .languages li {
	display: inline-block;
}
.header .languages a {
	border-radius: 2px;
	display: inline-block;
	filter: alpha(85);
	height: 20px;
	opacity: .85;
	width: 30px;
	text-align: center;
}
.header .languages a:hover {
	filter: alpha(100);
	opacity: 1;
}
.header .languages img {
	vertical-align: baseline;
}
.header .languages .lang-item-pl a {
	background: url("../img/flags/pl_PL.png") no-repeat;
}
.header .languages .lang-item-en a {
	background: url("../img/flags/en_US.png") no-repeat;
}
.header .languages .lang-item-de a {
	background: url("../img/flags/de_DE.png") no-repeat;
}
.header .languages .lang-item-pl a img,
.header .languages .lang-item-en a img,
.header .languages .lang-item-de a img {
	display: none;
}

/* Footer */

.footer {
	padding-bottom: 20px;
	padding-top: 20px;
} 
.footer .footer-copyright {
	border-top: none;
	margin-top: 0;
	padding-top: 0;
}

#cookies-message {
	background: #000;
	border-top: 1px solid #222;
	bottom: 0;
	color: #fff;
	font-size: 13px;
	left: 0;
	padding: 10px;
	position: fixed;
	right: 0;
	text-align: center;
	z-index: 100;
}
#cookies-message .btn {
	padding: 1px 6px 2px;
	vertical-align: baseline;
	margin: 0 5px;
}

/* Box layout */

@media (max-width: 767px) {
  .inner-page {
   	max-width: none;
  }
  .header .header-navigation {
    max-width: none;
    padding: 0 3.5px;
    width: 95%
  }
}

.boxPlaceholder {
  border: 1px dotted #444;
  color: #444;
  margin: 10px;
  padding: 50px 20px;
  text-align: center;
}

.box {
	height: auto;  
}
.box.hasUrl {
	cursor: pointer;
}
.box.hasUrl {
	transition-duration: .5s;
}
.box.hasUrl:hover {
	box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.4) inset;
}
.box > a {
	color: inherit;
	display: block;
}
.box .box-content h2 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 0;
	text-align: center;
}
.box .box-content h2 + p {
	margin-top: 15px;
}
.box .box-content p {
	font-size: 13px;
}
.box .box-content .btn {
	font-size: .7em;
	padding: 4px 8px;
}
.box .box-content.navigation {
	display: block;
	position: relative;
	width: auto;
} 
.box .box-content.navigation .h2 {
	display: block;
	font-size: 30px;
	font-weight: bold;
	line-height: 1.1;
	margin: 0;
	text-align: center;
}
.box .box-content.navigation .p {
	display: block;
	font-size: 13px;
	margin-top: 15px;
}
.box-description {
	box-shadow: none;
}
.box-description .box-content {
	padding-left: 10px;
	padding-right: 10px;
}
.box-image {
  box-shadow: none;
}
.box-image .box-content {
	cursor: default;
}
.box-image .box-content.box-gallery img.box-gallery-img {
	left: auto;
	margin: 0 auto;
	position: static;
	top: auto;
	transition: all 3s ease-in-out 0s;
	width: auto;
}
.box-image:hover .box-content.box-gallery img.box-gallery-img {
	transform: scale(2) translateY(25%);
}
.box-standard .box-content a {
	color: #fff;
}
.box-auto {
	height: auto;
}
.box-auto .box-content {
	position: static;
	height: auto;
	left: auto;
	top: auto;
}

/* Homepage */

@media (min-width: 1200px) {
  .home .col-lg-2 {
  	width: 20%;
  } 
}
.home .box {
	height: auto;
	margin-top: 10px;
}
.home .box .box-content {
	position: static;
	height: auto;
	left: auto;
	top: auto;
}

@media (min-width: 480px) {
  .home .col-xs-6:nth-child(2n+3) {
    clear: left;
  }
}
@media (min-width: 768px) {
  .home .col-xs-6:nth-child(2n+3) {
    clear: none;
  }
  .home .col-sm-4:nth-child(3n+4) {
    clear: left;
  }
} 
@media (min-width: 992px) {
  .home .col-sm-4:nth-child(3n+4) {
    clear: none;
  }
  .home .col-md-3:nth-child(4n+5) {
    clear: left;
  }
}
@media (min-width: 1200px) {
  .home .col-md-3:nth-child(4n+5) {
    clear: none;
  }
  .home .col-lg-2:nth-child(5n+6) {
    clear: left;
  }
}

/* Sidebar */

.page-sidebar .page-title h2 {
	font-size: 30px;
	line-height: 35px;
	margin: 0;
}

/* Contact page */

.contactus {
  width: 80%;
  margin: 0 auto;
}
.contact-form .gg {
  margin: 0 auto;
  width: 218px;
}
@media (max-width: 991px) {
  .gmap {
    margin-top: 30px;
  }
}
@media (max-width: 991px) {
  .contactus {
    width: auto;
    margin: 0;
  }
}
.inner-page .contactus .contact-form iframe {
	height: 298px;
	margin-left: 0;
}

/* Newsletter */

.newsletter h2 {
	margin-bottom: 20px;
}
.newsletter-content table td {
	padding-bottom: 4px;
	vertical-align: top;
}
.newsletter-content table tr + tr td {
	border-top: 1px solid #2a2a2a;
	paddind-top: 3px;
}
.newsletter-content table td:first-child {
	padding-right: 10px;
}
.newsletter-form {
  padding-left: 30px;
}

@media (max-width: 767px) {
  .newsletter-form {
    padding-left: 0;
  }
  
}

/* 404 */

.inner-page .error .error-content h2 {
	font-size: 30px;
}

/* Offer */

.offer > h2 {
	font-size: 30px;
	line-height: 35px;
	margin-top: 15px;
	padding-left: 10px;
}
.offer-content {
	margin-top: 30px;
}
.offer-content .box h2 {
	display: none;
}
.offer-content .box h2 + p {
  margin-top: 0;
}

/* Plugins and widgets */

#slb_viewer_wrap .slb_theme_slb_default .slb_data_title {
	font-family: inherit !important;
	font-size: 15px !important;
}
#slb_viewer_wrap .slb_theme_slb_default .slb_group_status {
	font-family: inherit !important;
	font-size: 15px !important;
	float: right;
}
#slb_viewer_wrap .slb_theme_slb_default .slb_data_content {
	margin-top: 3px;
}
#slb_viewer_wrap .slb_theme_slb_default .slb_data_desc {
	display: none;
}

#gmap_canvas {
	color: #000;
}
#gmap_canvas img {
	max-width: none !important;
	background: none !important
}

.ninja-forms-required-items {
	display: none;
}
.ninja-forms-response-msg:empty {
	display: none;
}
.ninja-forms-response-msg {
	font-weight: bold;
	margin-bottom: 1em;
} 
.ninja-forms-error-msg {
	color: #e63131;
}
.ninja-forms-success-msg {
	color: #6fae26;
}
.ninja-forms-field-error {
	font-size: 13px;
	color: #e63131;
}
.ninja-forms-cont .field-wrap {
  margin-bottom: 0;
}
.ninja-forms-cont .field-wrap + .field-wrap {
  margin-top: 20px;
}

/* Wordpress formatting */

/* Based on twenryfourteen Wordpress theme */

/* Alignment */

.alignleft {
	float: left;
	margin-right: 39px;
}
.alignright {
	float: right;
	margin-left: 39px;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Images */

.wp-caption.alignleft {
	margin: 0 39px 0 0;
}
.wp-caption.alignright {
	margin: 0 0 0 39px;
}
.wp-caption.aligncenter {
	margin: 0 auto;
}
.wp-caption {
	background: transparent;
	border: none;
	color: #767676;
	margin: 0 0 24px 0;
	max-width: 474px;
	padding: 0;
	text-align: left;
}
.wp-caption-dt {
	margin: 0;
}
.wp-caption-dd,
.wp-caption .wp-caption-text {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
	font-style: italic;
	line-height: 1.5;
	margin-bottom: 7px;
	margin-top: 3px;
	padding: 0 3px;
}
